# 해당 파일 무시
.DS_Store
test.py
BaekJoon Solutions/Java/.classpath
BaekJoon Solutions/Java/.project
BaekJoon Solutions/Java/.settings/
BaekJoon Solutions/.gitignore
BaekJoon Solutions/Java/.gitignore
BaekJoon Solutions/Java/src/algo/test.java

# 해당 폴더 무시
/Programmers Solutions/다른 사람 풀이/
/.metadata
BaekJoon Solutions/RemoteSystemsTempFiles/

BaekJoon Solutions/Java/.idea/
BaekJoon Solutions/Java/.metadata/
BaekJoon Solutions/Java/Java.iml
BaekJoon Solutions/Java/input/
BaekJoon Solutions/Java/src/algo/.idea/
BaekJoon Solutions/Java/src/algo/test2.java
BaekJoon Solutions/Java/src/untitled/

SW Expert Academy/Input/
SW Expert Academy/Solutions/input.txt
SW Expert Academy/Solutions/test2.py